{% extends 'AppBundle::base.html.twig' %}


{% block body %}
<h1>Votre inscription a été validée</h1>

<p>Un membre du bureau a validé votre inscription à Suresnes Escalade pour la {{ subscription.season|lower }}.</p>

{% if (subscription.noSlot) %}
<p>Vous avez choisi de ne pas prendre de créneau de grimpe sur le mur.</p>
{% else %}
<p>Vous pouvez venir grimper sur le créneau suivant : <strong>{{ subscription.activatedSlot }}</strong></p>
{% endif %}

<p><a href="{{ path('simple_subscription_voucher') }}" class="gb-button" title="Imprimer justificatif d'inscription">Justificatif d'inscription</a></p>

{% endblock %}
