{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<h1>Bravo {{ subscription.firstName }} ! Vos souhaits d'inscription ont bien été enregistrés pour la {{ subscription.season|lower }}.</h1>

<p>Nous vous remercions pour l'intérêt que vous portez à notre club.</p>

<p>Le souhait d'inscription que vous avez réalisé via le formulaire d'inscription en ligne ne sera validé par le bureau du club (et donc effectif) sous réserve que le(s) créneau(x) souhaité(s) ne soi(ent) pas complet(s) et uniquement lorsque le dit bureau aura reçu l'intégralité des pièces nécessaires à votre inscription, à savoir :</p>

<ul>
    <li>Le certificat médical d'aptitude à l'escalade (avec la mention "apte à la compétition" pour les mineurs)</li>
    <li>Le règlement de la cotisation annuelle, soit {{ subscription.priceCalculated }} €. (paiement par chèque : possibilité de payer en 3 fois)</li>
    <li>La fiche d'inscription imprimée et signée par l'adhérent (par le parent pour un mineur). Celle-ci vous a été transmise par email à <strong>{{ subscription.email }}</strong>. Si cette adresse est incorrecte, vous pouvez encore <a href="{{ path('simple_subscription', { ref: subscription.id, key: subscription.key }) }}">modifier les informations saisies.</a></li>
</ul>

<p>Ces documents devront impérativement nous être remis avant votre première séance d'escalade. Pour information la reprise des cours d'escalade est prévue le lundi 8 septembre 2014. Les adhérents du club ne sont plus prioritaires par rapport aux nouveaux arrivants.</p>

{#
<p>Pour imprimer votre fiche d'inscription, <a href="{{ path('simple_subscription_print')} }">cliquez ici</a>.</p>
#}
<p>Pour consulter le remplissage des différents créneaux pour la {{ subscription.season.title|lower }}, <a href="{{ path('slots_subscriptions') }}">cliquez ici</a>.</p>

<p style="text-align: center"><a href="{{ path('simple_subscription') }}?new" class="gb-button">Inscrire un(e) autre grimpeur(se)</p>

<p style="text-align: right"><a href="/">Retour sur le site de Suresnes Escalade</a></p>

<div class="textwidget"><h4>Découvrez notre partenaire</h4>
<a href="http://www.9cplus.com" target="_blank"><img src="http://www.9cplus.com/ressources/Animations/SE/SE1.jpg" name="image" style="margin-left:80px" onmouseover="image.src='http://www.9cplus.com/ressources/Animations/SE/SE2.jpg'" onmouseout="image.src='http://www.9cplus.com/ressources/Animations/SE/SE1.jpg'" onmousedown="image.src='http://www.9cplus.com/ressources/Animations/SE/SE2.jpg'" width="200" height="200" border="0"></a></div>

{% endblock %}
