<p id="breadcrumbs">
	<a href="http://wp.suresnes-escalade.fr">Inscription</a>
	&nbsp;›&nbsp;
</p>

<ol>
	<li{% if active == "profile" %} style="font-weight: bold; font-size: 120%"{% endif %}><a href="{{ path('subscription_profile') }}">Profil du grimpeur</a></li>
	<li{% if active == "slots" %} style="font-weight: bold; font-size: 120%"{% endif %}><a href="{{ path('subscription_slots') }}">Choix des créneaux</a></li>
	<li{% if active == "medical" %} style="font-weight: bold; font-size: 120%"{% endif %}><a href="{{ path('subscription_medical') }}">Certificat médical</a></li>
	<li{% if active == "insurance" %} style="font-weight: bold; font-size: 120%"{% endif %}><a href="{{ path('subscription_insurance') }}">Licence et assurance</a></li>
	<li{% if active == "payment" %} style="font-weight: bold; font-size: 120%"{% endif %}><a href="{{ path('subscription_payment') }}">Mode de paiement</a></li>
	<li{% if active == "validation" %} style="font-weight: bold; font-size: 120%"{% endif %}><a href="{{ path('subscription_validation') }}">Vérification</a></li>
</ol>
