{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <h1>Inscriptions au club</h1>

    <a href="{{ path('app_profile') }} ">Modifier mon profil</a>

    {% include 'AppBundle:Season:prices.html.twig' with { season: season } %}

    <h2>Inscription {{ season.title }}</h2>

    {% if subscription %}
        {% if subscription.isActive %}
            Votre insciption a été validée
        {% else %}
            Votre insciption n'est pas encore validée
            <a href="{{ path('subscription_slots') }}">Modifier mon inscription</a>

            {% if subscription.slot1 and subscription.slot2 %}
            <table border="1">
                <tr>
                    <th>Choix de créneaux</th>
                    <td>
                        <ul>
                            <li>Premier choix: {{ subscription.slot1.title }}</li>
                            <li>Second choix: {{ subscription.slot2.title }}</li>
                        </ul>
                    </td>
                    <td><a href="{{ path('subscription_slots') }}">Modifier</a></td>
                </tr>
            </table>
            {% else %}
                <p>Vous n'avez pas encore choisi de créneau.</p>
            {% endif %}
        {% endif %}
    {% else %}
        <p>
            Vous n'êtes pas inscrit pour la prochaine saison.
            <a href="{{ path('subscription_slots') }}">Nouvelle inscription</a>
        </p>
    {% endif %}

    <h2>Historique</h2>

    {% if entities %}
    <table class="records_list">
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.season }}</td>
                <td>
                    {{ entity.isActive ? 'Validé' : 'En attente de validation' }}
                    ({{ entity.isRenewal ? 'Renouvellement' : 'Première inscription' }})
                </td>
                <td></td>
                <td>
                    {% if entity.isActive %}
                    {% include 'AppBundle:Subscription:details.html.twig' with { subscription: entity } %}
                    {% endif %}
                </td>
                <td>{{ entity.licence }}</td>
                <td>
                    {% if entity.activatedSlot %}
                        {{ entity.activatedSlot.title }}
                    {% elseif entity.slot1 and entity.slot2 %}
                        {{ entity.slot1.title }} ou {{ entity.slot2.title }}
                    {% else %}
                        Incomplet
                    {% endif %}
                </td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Vous n'avez pas encore été inscrit au club</p>
    {% endif %}

{% endblock %}
