{% extends 'AppBundle::base.html.twig' %}

{% block body %}
	{% include 'AppBundle:Subscription:flow.html.twig' with { active: 'insurance' } %}

    <h1>Licence et assurance</h1>

	<p>
		Blabla famille &amp; assurance
	</p>

    {{ form(form) }}
{% endblock %}
