{% extends 'AppBundle::base.html.twig' %}

{% block body %}
	{% include 'AppBundle:Subscription:flow.html.twig' with { active: 'validation' } %}

    <h1>Validation de l'inscription</h1>

	<p>Cette page vous permet de vérifier votre inscription avant de la transmettre au bureau pour validation</p>

	<table border="1">
		<thead>
			<tr>
				<th>Action</th>
				<th>Envoyé</th>
				<th>Validé par le bureau</th>
		</thead>
		<tbody>
			<tr>
				<td>Envoi du <a href="{{ path('subscription_medical') }}">certificat médical</a></td>
				<td>{% if entity.certificateDate %}<strong style="color:green">Fait</strong>{% else %}<strong style="color:red">Incomplet</strong>{% endif %}</td>
				<td></td>
			</tr>
			<tr>
				<td>Choix d'un créneau</td>
				<td>{% if entity.slot1 and entity.slot2 %}<strong style="color:green">Fait</strong>{% else %}<strong style="color:red">Incomplet</strong>{% endif %}</td>
				<td></td>
			</tr>
			<tr>
				<td>La <strong>fiche d'inscription signée</strong> (signature des parents pour un mineur)</td>
				<td>Par courrier</td>
				<td></td>
			</tr>
			<tr>
				<td>Le <strong>règlement</strong> de la cotisation annuelle</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>

	<p><a href="">Imprimer ma fiche d'inscription</a></p>

{% endblock %}
