{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<h1>Horaires des créneaux {{ season.title|lower }}</h1>

<ul>
	{% for slotType in slotTypes %}
	<li><strong>{{ slotType.title }} :</strong> {{ slotType.description }}</li>
	{% endfor %}
</ul>

<table>
	<thead>
		<tr>
			<th>Jour</th>
			<th>Horaire</th>
			<th>Description</th>
			<th>Type</th>
			<th>Capacité max</th>
		</tr>
	</thead>
	<tbody>
		{% for slot in season.slots %}
		<tr>
			<td>{{ slot.readableDayOfWeek }}</td>
			<td>{{ slot.beginTime|date('H:i') }} à {{ slot.beginTime|date('H:i') }}</td>
			<td>{{ slot.description }}</td>
			<td>{{ slot.type }}</td>
			<td>{{ slot.maxPlaces }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}