{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
    <a href="{{ admin.generateObjectUrl('print', object) }}" class="btn print_link btn-small" title="{{ 'action_print'|trans({}, 'SonataAdminBundle') }}">
        <i class="icon-print"></i>
        Imprimer
    </a>
{% endif %}
