{% if admin.isGranted('VIEW', object) and admin.hasRoute('exportFFME') %}
    <a href="{{ admin.generateObjectUrl('exportFFME', object) }}" class="btn print_link btn-small" title="Générer le fichier pour inscrire les adhérents à la FFME">
        <i class="icon-tasks"></i>
        Export vers FFME
    </a>
{% endif %}
