{% if admin.isGranted('VIEW', object) and admin.hasRoute('importFFME') %}
    <a href="{{ admin.generateObjectUrl('importFFME', object) }}" class="btn print_link btn-small" title="Réimporter le fichier des adhérents de la FFME">
        <i class="icon-random"></i>
        Import depuis FFME
    </a>
{% endif %}
